<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Today's Blue Plate Special</title>
	<meta name="author" content="Adam Singer">
	<link rel="stylesheet" href="stylesheets/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="stylesheets/jquery.tweet.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="stylesheets/facebox.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
	<script src="javascripts/jquery-1.4.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/json2.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/blueplate.jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="javascripts/md5.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="javascripts/jquery.tweet.js" type="text/javascript" charset="utf-8"></script>-->
	<script src="javascripts/facebox.js" type="text/javascript" charset="utf-8"></script>
	
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false">	</script>
  <script type="text/javascript" charset="utf-8">
function getAddress(lat,lng){ 
  var geocoder = new google.maps.Geocoder();
  
  geocoder.geocode({'latLng':  new google.maps.LatLng(lat,lng)}, function(results, status){
   $("#user .location").html( results[1].formatted_address );
  });
  
};
</script>

</head>
  <body>
    <div id="page">

  
      <%= yield %>
  </div>
  </body>
  <script type="text/javascript" charset="utf-8">
    
    // $(document).ready(function() {
			var user = JSON.parse('{"email":"adam@artforge.com","name":"Adam Singer","location":"New York, NY"}')
			var contacts = JSON.parse('[{"email":"adam@artforge.com","name":"Adam Singer","location":"New York, NY","tasks":0},{"email":"aminharis7@gmail.com","name":"Haris Amin","location":"Brooklyn, NY","tasks":0},{"email":"mjording@gmail.com","name":"Matt Jording","location":"Brooklyn, NY","tasks":0}]')
			var tasks = JSON.parse('[{"id":"GUID1","description":"This is something I need to do!"},{"id":"GUID2","description":"This is another thing I need to do!"},{"id":"GUID1","description":"This is something I need to do!"},{"id":"GUID2","description":"This is another thing I need to do!"},{"id":"GUID1","description":"This is something I need to do!"},{"id":"GUID2","description":"This is another thing I need to do!"}]');
		
			loadUser(user);
			populateInbox(tasks)
			populateContacts(contacts);
			
			$("#contacts .contact").live("click",sendDirectMessage)
			// twitterSearch("#hackdisrupt",8);
    // });
		
		function sendDirectMessage(){
			var user = $(this).data("user");
			jQuery.facebox("<h1>Send a direct message to " + user.email + "</h1><div class='body'><textarea></textarea><button type='button'>Send!</button></div>");
		}
		
		function populateContacts(contacts){
			var template = $('#hidden_templates .contact');
			$(contacts).each(function(i){
				var contact = contacts[i];
				elContact = template.clone();
				elContact.data("user",contact);
				elContact.find(".image").attr("style","background:url(" + gravatar_url(contact.email,60) + ");")
				
				$(elContact).droppable({
					hoverClass: 'highlight',
					drop: delegate_task
				});
				$("#contacts .items").append(elContact).fadeIn();
			})
		}
		
		function populateInbox(tasks){
			var template = $('#hidden_templates .task');
			$(tasks).each(function(i){
				elTask = $("#inbox .items").append($('<div>').bp_task(tasks[i],{template: template}).fadeIn());	
			})
			$("#inbox .items,#tickets .items,#trash .items").sortable({
				connectWith: '.list_module .items',
				cursor: 'crosshair',
				opacity: 0.5,
				scroll: true,
				update: ticket_task
			}).disableSelection();
		}
		
		function gravatar_url(email,size){
			return "http://www.gravatar.com/avatar/" + MD5(email) + "?s=" + size;
		}
		
		function loadUser(user){
      // $("#avatar").attr("src",gravatar_url(user.email,50));
      // $("#user .username").html(user.name);
      // $("#user .location").html(user.location);
      var lal = $("#user .location").html().split(',');
      var latlong = $.map( lal, function(a){
          return a / 1;
        });
      getAddress(latlong[0],latlong[1]);
		}
		
		function twitterSearch(searchTerm, results){
			$("#query").tweet({avatar_size: 32,count: results, query: searchTerm,loading_text: "searching twitter..."});
		}
		
		function delegate_task(event,ui){
			dropped_item = $(ui.draggable).find(".task").parent();
			var task = dropped_item.data("task")
			var target = event.target;
			var contact = $(target).data("user");
			console.log("You Dropped task " + task.id + " into " + contact.email);
			addTaskIndicator(target);
			dropped_item.remove();
		}
		
		function addTaskIndicator(elUser){
			var contact = $(elUser).data("user");
			contact.tasks += 1;
			
			elIndicator = $(elUser).find(".task_indicator");
			elIndicator.find("span").html(contact.tasks);
			elIndicator.show()
			console.log(contact.tasks);
		}
		
		function ticket_task(event,ui){
			if (ui.sender){
				dropped_item = $(ui.item)
				target = this
				task = dropped_item.data("task")
				if (target.id == "trashbin"){
					dropped_item.fadeOut();
				}
				console.log("You Dropped task " + task.id + " into " + target.id);
			}
		}
		
	
    
    
    
    
    
    
	
	</script>
</html>
