	<div id="header">
		<div id="logo"></div>
		<h1>Blue Plate</h1>
		<div id="user" class="fr">
		  
			<img id="avatar" class="fl" src="<%= @client_user_profile_image %>" style="vertical-align:top;">
			<div class="info fl">
				Welcome <span class="username"><%= @client_user_name %></span><br/>
				From <span class="location"><%= @client_user_location %></span><br/>
				<a href="#">Logout</a>
			</div>
			<div class="clr"></div>
		</div>
		<div class="clr"></div>
	</div>



<div id="inbox" class="fl list_module">
  		<h2>Inbox</h2>
  		<div class="items"></div>
</div>
  <div id="tickets" class="fl list_module">
		<h2>On your plate</h2>
		<div class="items"></div>
	</div>
	
	<div class="fr">
		<div id="contacts" class="list_module last">
			<h2>Contacts</h2>
			<div class="items">
			  <%# @s.each_with_index do |item, ind|%>
        <%# @account.inbox.each_with_index do |item, ind| %>
          <%#= item["screen_name"] %>

        <%# end %>
			 
			 
			</div>
		</div>
		<div id="trash" class="list_module last">
			<div id="trashbin" class="items"></div>
		</div>
	</div>
	
	<!-- <div id="query" class="query list_module fl" style="width:400px;"></div> -->
	
	<div id="hidden_templates" style="display:none;">
		<div class="task corner-all-5">
			<div class="source_icon"></div>
			<div class="subject"></div>
		</div>
		
		<div class="contact">
			<div class="task_indicator"><span>0</span></div>
			<div class="image"></div>
		</div>
	</div>
